.karts{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 120px;
}
.bas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.tap{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btnn {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 40%;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    width: 100px;
    height: 40px;
  }
  
  .btnn:active {
    scale: 0.92;
  }
  
  .btnn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  .label {
    --border: rgba(66, 66, 66, 0.733);
    --bgLabel: rgb(175, 95, 255);
    --bgInput: rgba(255,255,255,1);
    --color-light: rgb(98, 0, 255);
    --color-light-a: rgb(133, 123, 150);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    background: var(--bgLabel);
    position: relative;
    font-size: .85rem;
    transition: all .3s ease-out;
    width: 200px;
    margin-left: 50%;
  }
  
  .label > .label-title {
    border: 1px solid var(--color-light);
    color: var(--color-light);
    box-shadow: 0 2px 2px rgba(120,120,120,.25);
    padding: .25em .5em;
    background-color: var(--bgInput);
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    position: relative;
    border-radius: 4px;
    translate: 10px -10px;
    transition: all .5s ease-out .5s;
    z-index: 10;
  }
  
  .label:focus .input,
  .label:focus-within .input {
    background-color: var(--bgInput);
    padding: 1em;
    color: var(--color-light);
    border: 2px solid var(--color-light);
    outline: 2px solid var(--color-light);
    outline-offset: -2px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(98, 0, 255, .25), 0 -5px 20px rgba(98, 0, 255,.1);
    scale: 1.15;
    transition: all .5s cubic-bezier(0,1.46,1,1.62) .3s;
  }
  
  .label:focus,
  .label:focus-within .label-title {
    translate: 10px -20px;
    border-radius: 4px 4px 0 0;
    z-index: 0;
    transition: all .3s cubic-bezier(0,1.46,1,1.62);
  }
  
  .input {
    appearance: none;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid var(--color-light);
    border-left: 2px solid transparent;
    background-color: var(--bgInput);
    caret-color: var(--color-light);
    min-width: 200px;
    padding: 1.25em 1em .25em;
    outline: 0px solid var(--color-light);
    grid-column: 1/-1;
    grid-row: 1 / -1;
    position: relative;
    transition: all .3s cubic-bezier(.5,.6,.5,.62);
    z-index: 0;
  }
  
  .input, 
  .input::placeholder {
    color: var(--color-light-a);
  }